{% extends "blog/base.html" %}
{% block content %}
        <h1>About Page</h1>
        <br></br>
        <h4>Contributors:</h4>
        <ul>
            <li>Adam Liu (adamliu@udel.edu)</li>
            <li>Alex Rusin (arusin@udel.edu)</li>
            <li>Rohan Yarlagadda (rohany@udel.edu)</li>
        </ul>
        <br></br>
        <h4>Project Description:</h4>
        <p>Our aim for this project developed during HenHacks 2023 was to support the local UD community by designing a seamless 
        platform for users to request and accept food from other users, and to serve the underserved in the community by connecting 
        them with those who are willing to help. Each year, the University of Delaware wastes many meal swipes and dining points. 
        And many underserved in our community use payday loans, which average a costly 15% interest rate, to make ends meet. UD Share 
        strives to solve both of these problems by connecting those who have extra meal swipes and dining points with those who need them, 
        and by providing a platform for users to request peer-to-peer financial loans at a 4% interest cap. </p>

{% endblock content %}
