{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title" >{{ object.title }}</h2>
        </div>
    </article>
    <button id = "accept">Accept</button>
    <br></br>
    <article class="media content-section" id ="myDiv" style="display:none";>
        <div class="media-body">
            <p>Email: {{ object.author.email }}</p>
        </div>
    </article>
    <script>
        document.getElementById("accept").onclick = function() {
            document.getElementById("myDiv").style.display = "block";
        };
    </script>
    
{% endblock content %}